<!DOCTYPE html>
<html>
<head>
<title>The Gossip Project</title>
</head>

<body>

<% if flash[:notice] %>
<div class="alert alert-success">
 Ton gossip a bien été supprimé.
</div>
<% end %>

<div class="row justify-content-center">
<% @gossips.each do |t| %>
    <div class="card m-4 col-sm-12 col-md-4 col-lg-3 text-center">
      <div class="card-body">
        <h5 class="card-title">
     Auteur: <%= t.user[:first_name] %><br/><br/>
        <p class="card-text">
     Potin: <%= t.title %><br/><br/>
     <%= link_to "Lien vers le potin", gossip_path(t.id), :class => "btn btn-secondary"%>
        <br/><br/>
       <%= link_to "#{t.comments.count} commentaire(s)", gossip_path(t.id), :class => "btn btn-outline-info btn-sm"  %><br/><br/>
       <%="#{t.likes.count} "%>
       <% if current_user != nil %>
       <% if get_like(current_user, t) %>
       <%= link_to "", gossip_like_path(t.id, get_like(current_user, t).id), :method => :delete, :class => "fas fa-thumbs-up"%>
       <% else %>
       <%= link_to "", gossip_likes_path(t.id), :method => :create, :class => "far fa-thumbs-up"%>
       <% end %>
       <% end %>
       </h5>
      </div>
    </div>
    <% end %>
  </div>



</body>
</html>
