<body>
<h1>Voici la page de la ville <%=@city.name%> </h1>

<div class="row justify-content-center">
<% @gossips.each do |t| %>
    <div class="card m-4 col-sm-12 col-md-4 col-lg-3 text-center">
      <div class="card-body">
        <h5 class="card-title">
     Auteur: <%= t.user[:first_name] %><br/><br/>
        <p class="card-text">
     Titre: <%= t.title %><br/><br/>
     <p class="card-text">
     Potin: <%= t.content %><br/><br/>
      </div>
      <%= link_to "#{t.comments.count} commentaire(s)", gossip_path(t.id), :class => "btn btn-outline-info btn-sm"  %>
      <%="#{t.likes.count} "%>
      <% if current_user != nil %>
      <% if get_like(current_user, t) %>
      <%= link_to "", gossip_like_path(t.id, get_like(current_user, t).id), :method => :delete, :class => "fas fa-thumbs-up fa-2x"%>
      <% else %>
      <%= link_to "", gossip_likes_path(t.id), :method => :create, :class => "far fa-thumbs-up fa-2x"%>
      <% end %>
      <% else %>
      <i class = "far fa-thumbs-up fa-2x"></i>
      <% end %>
        </div>
    <% end %>
    </div>
    </body>
