<html>
<head>
  <title>The Gossip Project</title>
</head>
<body>
      <h4>Voici la page de l'utilisateur <%= params[:id] %>      </h4>
      <p1>
      Prénom : <%= @userfind.first_name %><br/>
      Nom : <%= @userfind.last_name %> <br/>
      Description : <%= @userfind.description %> <br/>
      Adresse email : <%= @userfind.email %> <br/>
      Âge : <%= @userfind.age %> <br/>
      Habite à : <%= @userfind.city[:name] %> <br/>
      <%= link_to "Lien vers la ville", city_path(@userfind.city[:id]), :class => "btn btn-secondary"%>  </a>
      </p1>


</body>
</html>