<html>
<head>
  <title>The Gossip Project</title>
</head>
<body>

  <div class="card text-center">
      <div class="card-header">
       Voici la page de ce bougre de <%= @userfind.first_name %> <%= @userfind.last_name %>
      </div>
  <div class="card-body">
      Description : <%= @userfind.description %> <br/>
      Adresse email : <%= @userfind.email %> <br/>
      Âge : <%= @userfind.age %> <br/>
      Habite à : <%= @userfind.city[:name] %> <br/>
      </div>
  </div>
  <div class="card-footer text-muted">
  </div>

</body>
</html>
